

body{
    //background-color: yellowgreen;
    background: url('images/spoons121X80.jpg');
    background-size: cover ;
    z-index:0;
    margin: 0px;
}
#new-recipe{
    padding-top: 2%;
}
button{
    outline: none;
    cursor: hand;
    &:hover{
        cursor: pointer;
    }
}
#btn-add-new{
    padding: 8px;;
    font-size: 20px;
    display: block;
    background-color: yellowgreen;
    border-radius:25px;
    border: 6px solid rgba(255, 255, 52, 0.746);
    margin:auto;
    //margin-top: 4%;
}
#curtain{
    margin:0px;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width:100%;
    height:100%;
    
}
#form{
    font-family: serif;
    display: grid;
    grid-template-rows:1fr 3fr 3fr 1fr;
    grid-gap: 2%;
    grid-template-areas: "name"
                        "ingredients"
                        "instructions"
                        "form-btn";
    width:84%;
    height:90%;
    margin: auto;
    padding: 6%;
    margin-top:2%;
    z-index:2;
    background-color: rgba(210, 219, 168, 0.938);
    border-radius: 10px;;
}
#form-name{
    grid-area: name;
}
#form-ingredients{
    grid-area: ingredients;
}
#form-instructions{
    grid-area: instructions;
}
#form-btn{
    grid-area: form-btn;
    text-align: center;
    margin-top: 1%;
}
#form-input-name{
    width: 94%;
    height: 50%;
    margin-top: 1%;
    margin-bottom: 3%;
    
}
textarea{
    width: 94%;
    height:70%;
    margin-top: 1%;
    margin-bottom: 3%;
    resize: none;
    
}
#form-btn-save{
    font-size: 16px;
    width: 40%;
    border: 6px solid rgb(136, 138, 14);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(179, 255, 0)
}
#form-btn-cancel{
    font-size: 16px;
    width: 45%;
    border: 6px solid rgb(155, 150, 149);
    border-bottom-right-radius: 100%;
    background-color: rgba(204, 59, 52, 0.815);
}
